{% extends 'nav-base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block headloader %}
  <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
  {% bootstrap_css %}
{% endblock %}
{% block content %}
<section class="container-fluid">
  <div class="row">
    {% if filter %}
      <div class="container-fluid col-md-12 center-block">
          <form action="" method="get" class="form form-inline ">
              {% bootstrap_form filter.form layout='inline' show_label=False %}
              <br/><br/>
              <p align="center">
                {% bootstrap_button 'Filter' extra_classes='btn-warning'%}
                <a href="/home/analys" class="form-inline btn btn-danger btn-md" role="button">Reset</a>
              </p>
          </form>
          <form class="" action="/home/mail" role="form" method="post" enctype="multipart/form-data">
            <!-- <div style="" class="col-md-12 col-xs-12 col-sm-12 col-lg-12 "> -->
                {% render_table table %}
                <p align="center">
                  <input class="btn btn-primary" type="submit" name="submit-email" value="Email">
                </p>
            <!-- </div> -->
          </form>
      </div>
    {% endif %}
  </div>

    </div>
    <div class="row">

    </div>
  </div>
  <script>
  $(document).ready(function(){
    $('[class ^="attendence_date"]').append("<a id = 'tooltip-inside'></a>");
    $('[id ^="tooltip-inside"]').attr("data-toggle","tooltip");
    $('[id ^="tooltip-inside"]').attr("data-placement","right");
    $('#master_table').DataTable({
      scrollY: 450,
      "iDisplayLength": 25
      // paging: false
    });
    // $('[id ^="tooltip-inside"]').tooltip();
    // $('[data-toggle="tooltip"]').
  });
  function load(elem){
    var prevDate = elem.value.split('&')[0]+'&'+moment(elem.value.split('&')[1]).add(-1, 'days').format('YYYY-MM-DD');
    var nextDate = elem.value.split('&')[0]+'&'+moment(elem.value.split('&')[1]).add(1, 'days').format('YYYY-MM-DD');
    $.ajax({
      type: 'GET',
      url: '/home/ifDatePresent/'+prevDate,
      success: function(data){
        if (data.response == false){
          $('.previou').addClass('disabled');
          $('.previou').attr('disabled','true');
          $('.previou').removeAttr('id');
          $('.previou').removeAttr('value');
        }
        else {
          $('.previou').removeClass('disabled');
          $('.previou').removeAttr('disabled');
          $('.previou').attr('id','newBtn'+prevDate);
          $('.previou').attr('value',prevDate);
        }
      }
    });
    $.ajax({
      type: 'GET',
      url: '/home/ifDatePresent/'+nextDate,
      success: function(data){
        if (data.response == false){
          $('.nexti').addClass('disabled');
          $('.nexti').attr('disabled','true');
          $('.nexti').removeAttr('id');
          $('.nexti').removeAttr('value');
        }
        else {
          $('.nexti').removeClass('disabled');
          $('.nexti').removeAttr('disabled');
          $('.nexti').attr('id','newBtn'+nextDate);
          $('.nexti').attr('value',nextDate);
        }
      }
    });
  var service = '/home/getEmpDetails/';
      jQuery.support.cors = true;
      $.ajax(
      {
          type: "GET",
          url: service+elem.value,
          data: "{}",
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          cache: false,
          success: function (data) {
          var trHTML = '';
          $.each(data, function (i, item) {
              //console.log(data[i].fields)
              trHTML += '<tr>';
              for(var key in data[i].fields){
                //console.log(key + ' - ' + data[i].fields[key]);
                trHTML += '<td>' + data[i].fields[key] + '</td>';
              }
              trHTML += '</tr>';
          });
          $('#tableRow').html(trHTML);
          },
          error: function (msg) {
              console.log(msg.responseText);
          }
      });
  };
  $('[id ^="modalBtn"]').click(function(){
    load(this);
  });
  $(document).on('click', 'button.nexti, button.previou', function(){
    load(this);
  });

  </script>
  <style>
  @media (min-width: 768px) {
      .modal-xl {
        width: 95%;
       max-width:1300px;
      }
    }
  </style>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Swipe Details</h4>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Site Code</th>
                  <th>Card ID</th>
                  <th>Emp ID</th>
                  <th>Emp Name</th>
                  <th>Dept</th>
                  <th>Type</th>
                  <th>CID</th>
                  <th>Gate</th>
                  <th>In/Out</th>
                  <th>Remark</th>
                </tr>
              </thead>
              <tbody id="tableRow">
              </tbody>
            </table>
            </div>
        </div>
        <div class="modal-footer">
          <div align="left" class="btn-group pull-left">
            <button type="button" class="btn btn-primary previou">Previous</button>
            <button type="button" class="btn btn-primary nexti">Next</button>
          </div>
          <button align="right" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
