{% extends 'nav-base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% block content %}
<section class="container-fluid section1" id="section1">
  <h1 class="text-center v-center ">Stats  <span class="glyphicon glyphicon-stats"></span></h1>
  <div class="container" style="padding-top: 50px;">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="list-group text-center">
          <div class="list-group-item active" style="">
            <h2 class="list-group-item-heading">Process Stats</h2>
          </div>
          {% for files in documents %}
            <div class="list-group-item">
              <p class="list-group-item-text">{{files.file_title}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
            <div class="list-group text-center">
              <div class="list-group-item active">
                <h2 class="list-group-item-heading">Uploaded Files</h2>
              </div>
              {% for files in documents %}
                <a href="{{files.upload_url}}" class="list-group-item">
                  <p class="list-group-item-text">{{files.file_title}}</p>
                </a>
              {% endfor %}
            </div>
      </div><!--/middle-->
    </div>
  </div>
</section>

{% endblock %}
