{% extends 'nav-base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}

{% block headloader %}
  <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
  {% bootstrap_css %}
{% endblock %}

{% block content %}
<section class="container-fluid">
  {% if table %}
    <h2>Mail has been sent for the following data:<br/></h2>
    {% render_table table %}
    <div class="row">
      <div class="col-md-12">
        <a href="/home/analys" class="btn btn-block btn-default btn-md" role="button">Return</a>
      </div>
    </div>
  {% else %}
    <h2>No content to display<br/></h2>
  {% endif %}
</section>

{% endblock %}
