{% extends 'nav-base.html' %}
{% load static %}

{% block headloader %}
<link rel="stylesheet" href="{% static '/bootstrap-fileinput/css/fileinput.min.css' %}">
<link rel="stylesheet" href="{% static '/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'%}" />
<script src="{% static '/bootstrap-fileinput/js/fileinput.min.js' %}"></script>
<script type="text/javascript" src="{% static '/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'%}"></script>
{% endblock %}

{% block content %}
<section class="container-fluid section2" id="section2">
  <h1 class="text-center" style="padding-top: 50px;padding-bottom: 30px;font-size: 50px;"><p><span class="glyphicon glyphicon-upload"></span>  Upload Files</p></h1>
  <div class="row">
      <form id='#form-upload' method="post" class = 'form-horizontal' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-2">
          <div class = "form-group">
            <div class="file-loading">
                <input id="input-b7" name="input-b7[]" type="file"  multiple required>
            </div>
          </div>
        </div>

        <div class="col-md-12 ">
          <p class="text-center center-block" style="padding: 50px 0px 50px 0px;">
            <!-- <button  id="upload" type="submit" class="btn btn-primary btn-lg ">Upload</button> -->
            <a  role='btn' href="/home/test" class="btn btn-success btn-lg ">Start Analysis</a><br><br>
            <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#updateMaster">Change Employee Master</button>
            <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#deleteFiles">Delete Files</button>
          </p>
        </div>
      </form>
  </div>
  <div class="row">
    <div class="container-fluid">
      <style>
          .modal-body {
            min-height: 85%;
          }
      </style>
      <div id="updateMaster" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Upload the Master</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                  <form id='#master-upload' method="post" class = 'form-horizontal' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-8 col-md-offset-2">
                      <div class = "form-group">
                        <div class="file-loading">
                            <input id="input-b6" name="input-b6[]" type="file" required>
                        </div>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div id="deleteFiles" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Delete Files</h4>
            </div>
            <div id="replacable" class="modal-body">
              <!-- <div class="container-fluid"> -->
                  <form id='delete-files' class = 'form-horizontal' enctype="multipart/form-data">
                      {% csrf_token %}
                      {% if nodocs %}
                        <h4>No Unprocessed documents to delete</h4>
                      {% else %}
                      <div>
                        {% for doc in nogo %}
                          <div class="checkbox">
                            <label><input id="check[]" name='check[]' type="checkbox" value="{{doc.file_title}}"/>{{doc.file_title}}</label>
                          </div>
                        {% endfor %}
                      </div>
                      <button id="btncheck" type="submit" disabled class="btn btn-md btn-danger disabled">Delete</button>
                      {% endif %}
                  </form>
              <!-- </div> -->
            </div>
            <div class="modal-footer">
                <p align="right">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      $(document).ready(function(){
        $('#input-b7').fileinput({
          uploadUrl: '/home/upload',
          overwriteInitial: false,
          'allowedFileExtensions': ['xls','xlsx']
        });
        $('#master-upload').submit(function(e){
          e.preventDefault();
        });
        $('#delete-files').submit(function(e){
          e.preventDefault();
          $.ajaxSetup({
            data: {
              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
          });
          $.ajax({
            type: "POST",
            url: '/home/deleteFiles',
            data: $('#delete-files').serializeArray(),
            success: function (data) {
              $("#replacable").html("<div class='alert alert-success'><strong>Success!</strong> The files have been deleted succesfully</div>");
              location.reload();
            },
            error: function (msg) {
                console.log(msg.responseText);
            }
          });
        });
        $('#input-b6').fileinput({
          uploadUrl: '/home/uploadMaster',
          'allowedFileExtensions': ['xls','xlsx']
        });
      });
      $('[id^="check"]').click(function () {
        if ($('input[type=checkbox]:checked').length > 0){
          $('#btncheck').removeClass("disabled");
          $('#btncheck').removeAttr("disabled");
        }
        else{
          $('#btncheck').addClass("disabled");
          $('#btncheck').attr("disabled",'true');
        }
      });
    </script>
</section>

{% endblock %}
